$ww-font-path: "~@webwingscz/googlefont-roboto/fonts" !default;

@font-face {
  font-family: 'Roboto';
  src: url('#{$ww-font-path}/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('#{$ww-font-path}/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('#{$ww-font-path}/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}